/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CENTER THE CLOCK */
body {
    font-family: "Poppins", sans-serif;
    background: #1e1e1e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CLOCK UI */
.clock {
    background: #fff;
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.clock h1 {
    font-size: 48px;
    font-weight: bold;
    color: #222;
}
